  <div id="featured">
    <%= link_to (product_path(@featured[0].id)) do %>
      <%= image_tag "#{@featured[0].image}" %>
      <h3 id="name"><%= @featured[0].name %></h3>
    <% end %>
  </div>

<hr />

  <div id="new">
    <%= link_to 'See More ...', new_path %>
    <% @new_products.each do |product| %>
      <%= render :partial => "product", :object => product, :locals => { :show_description => false } %>
    <% end %>
  </div>

<hr />

  <div id="updated">
    <%= link_to 'See More ...', updated_path %>
    <% @updated_products.each do |product| %>
      <%= render :partial => "product", :object => product, :locals => { :show_description => false } %>
    <% end %>
  </div>