<!DOCTYPE html>
<html>
  <head>
    <title>Wonderland Store</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= link_to(image_tag("LOGO.png"), index_path ) %>
      <div id="topNav" >
        <nav>
          <ul>
            <li><%= link_to 'Home', index_path %></li>
            <li><%= link_to 'Sale Items', sale_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
          </ul>
        </nav>
      </div>
      <%= link_to 'Admin', admin_path %>
    </header>
    
  <hr />
    
    <aside>
      <div id="shopping_cart">
        <h5>Shopping Cart</h5>
        <% if @my_products.empty? %>
          <p>You have no items in your shopping cart</p>
        <% else %>
          <% @my_products.each do |my_product| %>
            <p>
              <%= my_product[:quantity] %> x
              <%= my_product[:product].name %> ---
              <%= my_product[:product].price %>
              <%= render :partial => 'productLinks', :locals => { :cart => true, :product => my_product[:product]} %>
            </p>
          <% end %>
            <%= link_to 'Clear Cart', clear_products_path %>          
        <% end %>
      </div>
      
      <div id="categories">
        <h5>Categories</h5>
        <ul>
          <% @all_categories.each do |category| %>
            <li><%= link_to "#{category.name}", category_path(category.id) %></li>
          <% end %>
        </ul>
      </div>
    </aside>
    
    <section>
      <%= yield %>
    </section>      
  
  <hr />
  
    <footer>
      <div id="bottomNav" >
        <nav>
          <ul>
            <li><%= link_to 'Home', index_path %></li>        
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
          </ul>
        </nav>
      </div>
    </footer>       
  </body>
</html>
